*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
html,body{
	background: white;
	width: 100%;
	height: auto;
	font-size: 15px;
}
/*媒体查询*/
@media screen and (min-width: 375px) {
	html,body{
		font-size: 15px;
	}
}
@media screen and (min-width: 321px) {
	html,body{
		font-size: 13px;
	}
}
@media screen and (max-width: 321px) {
	html,body{
		font-size: 12px;
	}
}


.navbar{
	width: 100%;
	height: 3rem;
	position: fixed;
	background: white;
	border-bottom: 2px solid #CDCDCD;
	top: 0;
	z-index: 20;
}

.logo{
	float: left;
	padding: 5px;
	font-size: 1.2rem;
}

.search{
	width: 5%;
	height: 2rem;
	float: right;
	padding: .3rem .5rem;
	margin: .5rem 1.5rem;
}
.search-input{
	width: 50%;
	height: 2rem;
	border: 1px solid #000000;
	margin: .5rem 0 0 36%;
	position: absolute;
	top: -2.8rem;
}
.input-1{
	width: 85%;
	height: 1.9rem;
	border: none;
	outline: none;
	padding-left:.5rem ;
	background: none;
}
/*热门商品*/
#main-nav{
	width: 100%;
    position: fixed;
    height: 5rem;
	top: 3.8rem;
	background: white;
	z-index: 50;
	border-top: 1px solid #CDCDCD ;
	border-bottom: 1px solid #CDCDCD ;
}
/*热门商品图标*/
.icon{
	float: left;
	width: 100%;
	/*background: red;*/
	margin-top: .5rem;
	
}
.icon li{
	float: left;
	font-size: 2rem;
	width: 16.6666%;
	text-align: center;
}
.li-1{
	color: #00FFFF;
	
}

.li-2{
	color: #33CCFF;

}

.li-3{
	color: #66CCFF;
	
}
.li-4{
	color: #66FFFF;
	
}
.li-5{
	color: #9999FF;

}
.li-6{
	color: #CCFFCC;

}
/*热门商品列表*/
.cat{
	float: left;
	width: 100%;
	position: absolute;
	top: 8%;	
}
.cat li{
	height: 5rem;
	float: left;
	line-height: 7rem;
	color: #000000;
	list-style: none;
	/*border: 1px solid blue;
	border-break: 0;	*/
}
.cat-li{
	text-align: center;
	width: 16.666%;
}

.commodity {
    margin-bottom: 3.5rem;
    padding-top: 8.5rem;
}
.commodity ul li{
	list-style: none;
	margin: .4rem;
	float: left;
	border: 1px solid #CDCDCD;
	background: url(../imgs/pian.jpg);
	/*background-size: 100% ;*/
	width: 97%;
}

.oimg img{
	width:100%;
	height: auto;
	border: 1px solid white;
}

.remenli .oimg{
	width: 7.2rem;
	float: left;
}

.remenli .good{
	width: 11rem;
	height: 3rem;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow: hidden; 
    margin:4%;
    padding-left: 1rem;
    color: rgba(69,68,64,.8);
}

.remenli .price{
	width: 6rem;
	margin:4%;
    float: left;
    margin-top: -1rem;
}

.foot{
	width: 100%;
	background: rgba(205,205,205,.7);
	position: fixed;
	bottom: 0;
	height: 3rem;
	border-top: 1px solid #CDCDCD;
}

.foot-1{
	margin-top: .5rem;
	text-align: center;
	font-size: 1rem;
	color: white;
}

.no{
	color: rgba(30,141,158,.5);
	text-align: center;
}











































































































































































